html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "rlig" 1,"calt" 1,"ss01" 1,"ss06" 1;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Geologicas", monospace, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: #b7a047 !important;
  }
}